{% extends 'base.html' %}

{% block titulo %}
Personas
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Personas</h3>
    <!-- tarjeta -->
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <button type="button" class="btn btn-outline-primary" id="btnAgregar">Agregar</button>
        <div>
          <button type="button" class="btn btn-outline-success" id="btnExportExcel">Exportar Excel</button>
          <button type="button" class="btn btn-outline-danger" id="btnExportPDF">Exportar PDF</button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Nombre:</th>
              <th>Apellido:</th>
              <th>Cédula:</th>
              <th>Fecha de nacimiento:</th>
              <th>Sexo:</th>
              <th>Estado civil:</th>
              <th>Teléfono de emergencia</th>
              <th>Ciudad:</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->


    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdPersona">
              <label for="txtNombre">Nombre:</label>
              <input type="text" class="form-control" placeholder="Ingrese el nombre" id="txtNombre">
              <label for="txtApellido">Apellido:</label>
              <input type="text" class="form-control" placeholder="Ingrese el apellido" id="txtApellido">
              <label for="txtCedula">Cédula:</label>
              <input type="text" class="form-control" placeholder="Ingrese la cédula" id="txtCedula">
              <label for="txtFecha_nacimiento">Fecha de nacimiento:</label>
              <input type="date" class="form-control" placeholder="Ingrese la fecha de nacimiento" id="txtFecha_nacimiento">
              <input type="hidden" id="id_genero">
              <label for="txtGenero">Sexo:</label>
              <input type="text" class="form-control" placeholder="Selecione el sexo" id="txtGenero">
              <input type="hidden" id="id_estado_civil">
              <label for="txtEstado_civil">Estado civil:</label>
              <input type="text" class="form-control" placeholder="Selecione el estado civil" id="txtEstado_civil">
              <label for="txtTelefono">Teléfono de emergencia:</label>
              <input type="text" class="form-control" placeholder="Ingrese el teléfono de emergencia" id="txtTelefono">
              <input type="hidden" id="id_ciudad">
              <label for="txtCiudad">Ciudad de localidad:</label>
              <input type="text" class="form-control" placeholder="Selecione la ciudad" id="txtCiudad">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarGenero">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalGeneroTitle">Seleccionar Sexo</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblGenero">
                <thead>
                  <tr>
                    <th>Sexo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarEstado_civil">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalEstado_civilTitle">Seleccionar estado civil</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblEstado_civil">
                <thead>
                  <tr>
                    <th>Estado civil</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarCiudad">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalCiudadTitle">Seleccionar ciudad</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblCiudad">
                <thead>
                  <tr>
                    <th>Ciudad</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mt-4 d-none" id="rowAlerta">
      <div class="col col-md-12">
        <div class="alert alert-success">
          <strong>Registro Exitoso!</strong>
          <div class="row" id="mostrarAlerta"></div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

  const CSRFToken = "{{ csrf_token() }}" || null;

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/personas',
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: 'cedula' },
        { data: 'fecha_nacimiento' },
        { data: 'genero' },
        { data: 'estado_civil' },
        { data: 'telefono_emergencia' },
        { data: 'ciudad' },
        { data: function(row) {
       return `<button type="button" name="btn_editar" class="btn btn-outline-success btn-sg" data-id="${row.id}" title="Editar"><i class="fas fa-edit"></i></button>
        <button type="button" name="btn_eliminar" class="btn btn-outline-danger btn-sg" data-id="${row.id}" title="Eliminar"><i class="fas fa-trash-alt"></i></button>`;
          }
        }
      ]
    });
  }

  const initDatatableg= () => {
    $('#tblGenero').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/generos',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_genero" class="btn btn-success" data-id="${row.id_genero}" data-genero="${row.descripcion}"><i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblGenero').on('click', 'button[name="btn_seleccionar_genero"]', function () {
      const idGenero = $(this).data('id');
      const genero = $(this).data('genero');
      $('#txtGenero').val(genero);
      $('#id_genero').val(idGenero);
      $('#modalBuscarGenero').modal('hide');
    });
  }

  const buscarGenero = () => {
    $('#txtGenero').on('click', function () {
      $('#modalGeneroTitle').text("Seleccionar Género");
      $('#modalBuscarGenero').modal();
    });
  }

  const initDatatablee= () => {
    $('#tblEstado_civil').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/estado_civiles',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_estado_civil" class="btn btn-success" data-id="${row.id_estado_civil}" data-estado_civil="${row.descripcion}"><i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblEstado_civil').on('click', 'button[name="btn_seleccionar_estado_civil"]', function () {
      const idEstado_civil = $(this).data('id');
      const estado_civil = $(this).data('estado_civil');
      $('#txtEstado_civil').val(estado_civil);
      $('#id_estado_civil').val(idEstado_civil);
      $('#modalBuscarEstado_civil').modal('hide');
    });
  }

  const buscarEstado_civil = () => {
    $('#txtEstado_civil').on('click', function () {
      $('#modalEstado_civilTitle').text("Seleccionar Estado_civil");
      $('#modalBuscarEstado_civil').modal();
    });
  }
















  const initDatatablec= () => {
    $('#tblCiudad').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/ciudades',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_ciudad" class="btn btn-success" data-id="${row.id_ciudad}" data-ciudad="${row.descripcion}"><i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblCiudad').on('click', 'button[name="btn_seleccionar_ciudad"]', function () {
      const idCiudad = $(this).data('id');
      const ciudad = $(this).data('ciudad');
      $('#txtCiudad').val(ciudad);
      $('#id_ciudad').val(idCiudad);
      $('#modalBuscarCiudad').modal('hide');
    });
  }

  const buscarCiudad = () => {
    $('#txtCiudad').on('click', function () {
      $('#modalCiudadTitle').text("Seleccionar Ciudad");
      $('#modalBuscarCiudad').modal();
    });
  }










  const exportarExcel = () => {
  $('#btnExportExcel').on('click', () => {
    fetch('/api/v1/personas/export/excel', {
      method: 'GET',
      headers: {
        'X-CSRFToken': CSRFToken
      }
    })
    .then(response => {
      if (!response.ok) throw new Error('Error al descargar el archivo Excel');
      return response.blob();
    })
    .then(blob => {
      const url = window.URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.href = url;
      a.download = 'personas.xlsx';
      document.body.appendChild(a);
      a.click();
      a.remove();
      window.URL.revokeObjectURL(url);
    })
    .catch(error => {
      console.error(error);
      Swal.fire("Error", "No se pudo descargar el archivo Excel.", "error");
    });
  });
};

  const exportarPDF = () => {
    $('#btnExportPDF').on('click', () => {
      fetch('/api/v1/personas/export/pdf', {
        method: 'GET',
        headers: {
          'X-CSRFToken': CSRFToken
        }
      })
      .then(response => {
        if (!response.ok) throw new Error('Error al descargar el archivo PDF');
        return response.blob();
      })
      .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'personas.pdf';
        document.body.appendChild(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
      })
      .catch(error => {
        console.error(error);
        Swal.fire("Error", "No se pudo descargar el archivo PDF.", "error");
      });
    });
  };


















  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar Persona");
      $('#txtIdPersona').val("");
      $('#txtNombre').val("");
      $('#txtApellido').val("");
      $('#txtCedula').val("");
      $('#txtFecha_nacimiento').val("");
      $('#txtGenero').val("");
      $('#txtEstado_civil').val("");
      $('#txtTelefono').val("");
      $('#txtCiudad').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idPersona = $('#txtIdPersona').val();
      const nuevoNombre = $('#txtNombre').val();
      const nuevoApellido = $('#txtApellido').val();
      const nuevaCedula = $('#txtCedula').val();
      const nuevaFecha_nacimiento = $('#txtFecha_nacimiento').val();
      const id_genero = $('#id_genero').val();
      const id_estado_civil = $('#id_estado_civil').val();
      const nuevoTelefono = $('#txtTelefono').val();
      const id_ciudad = $('#id_ciudad').val();
      const tabla = $('#tbl').DataTable();

      if(idPersona) {
        // update
        fetch(`/api/v1/personas/${idPersona}`, {
          method: 'PUT',
          headers: {
              'Content-Type': 'application/json'
           , 'X-CSRFToken': CSRFToken
          }, body: JSON.stringify({ nombre: nuevoNombre, apellido: nuevoApellido, cedula: nuevaCedula, fecha_nacimiento: nuevaFecha_nacimiento, id_genero: id_genero, id_estado_civil: id_estado_civil, telefono_emergencia: nuevoTelefono, id_ciudad: id_ciudad})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "La persona ha sido actualizada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar la persona.", "error");
        });
      } else {
        // insert
        fetch(`/api/v1/personas`, {
          method: 'POST',
          headers: {
             'Content-Type': 'application/json'
           , 'X-CSRFToken': CSRFToken
          }, body: JSON.stringify({ nombre: nuevoNombre, apellido: nuevoApellido, cedula: nuevaCedula, fecha_nacimiento: nuevaFecha_nacimiento, id_genero: id_genero, id_estado_civil: id_estado_civil, telefono_emergencia: nuevoTelefono, id_ciudad: id_ciudad})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Agregado", "La persona ha sido agregada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar la persona.", "error");
        });
      }
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]',function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar Persona");

          const idPersona = $(this).data('id');
          $('#txtIdPersona').val(idPersona);

          // Obtener los datos de la persona del backend
          fetch(`/api/v1/personas/${idPersona}`, {
            method: 'GET',
            headers: {
               'Content-Type': 'application/json'
            , 'X-CSRFToken': CSRFToken
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtNombre').val(data.data.nombre);
            $('#txtApellido').val(data.data.apellido);
            $('#txtCedula').val(data.data.cedula);
         


            // Convertimos la fecha al formato YYYY-MM-DD
            const fechaNacimiento = new Date(data.data.fecha_nacimiento);
            const fechaFormateada = fechaNacimiento.toISOString().split('T')[0];
            $('#txtFecha_nacimiento').val(fechaFormateada); // Cargar la fecha en el formato correcto
            
            $('#id_genero').val(data.data.id_genero);
            $('#txtGenero').val(data.data.genero);
            $('#id_estado_civil').val(data.data.id_estado_civil);
            $('#txtEstado_civil').val(data.data.estado_civil);
            $('#txtTelefono').val(data.data.telefono_emergencia);
            $('#txtCiudad').val(data.data.ciudad);
            $('#id_ciudad').val(data.data.id_ciudad);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
      const idPersona = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/personas/${idPersona}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            , 'X-CSRFToken': CSRFToken
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila =$(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "La persona ha sido eliminada correctamente.", "success");
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar la persona.", "error");
          });
        }
      });
    });
  }

 const addEvents = () => {
  agregar();
  guardar();
  editar();
  eliminar();
  buscarGenero();
  buscarEstado_civil();
  buscarCiudad();
  exportarExcel();
  exportarPDF();
}

$(function() {
  initDatatable();
  initDatatableg();
  initDatatablec();
  initDatatablee();
  addEvents();
});

</script> 
{% endblock %}