{% extends 'base.html' %}

{% block titulo %}
Nacionalidades
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Nacionalidades</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdNacionalidad">
              <label for="txtDescripcion">Descripción:</label>
              <input type="text" class="form-control" placeholder="Ingrese su nacionalidad" id="txtDescripcion">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

  const CSRFToken = "{{ csrf_token() }}" || null;

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/nacionalidades',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id}">Eliminar</button>`
          }
        }
      ]
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar Nacionalidad");
      $('#txtIdNacionalidad').val("");
      $('#txtDescripcion').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const IdNacionalidad = $('#txtIdNacionalidad').val();
      const nuevaDescripcion = $('#txtDescripcion').val();
      const tabla = $('#tbl').DataTable();

      if(IdNacionalidad) {
        // Actualizar Nacionalidad
        fetch(`/api/v1/nacionalidades/${IdNacionalidad}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRFToken
          },
          body: JSON.stringify({ descripcion: nuevaDescripcion })
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "La nacionalidad ha sido actualizada correctamente.", "success");
          } else {
            Swal.fire(data.error || "Error desconocido.");
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar la nacionalidad.", "error");
        });
      } else {
        // Insertar Nacionalidad
        fetch(`/api/v1/nacionalidades`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRFToken
          },
          body: JSON.stringify({ descripcion: nuevaDescripcion })
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Agregado", "La nacionalidad ha sido agregada correctamente.", "success");
          } else {
            Swal.fire(data.error || "Error desconocido.");
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar la nacionalidad.", "error");
        });
      }
      $('#txtDescripcion').val("");
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]',function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar Nacionalidad");

          const IdNacionalidad = $(this).data('id');
          $('#txtIdNacionalidad').val(IdNacionalidad);

          fetch(`/api/v1/nacionalidades/${IdNacionalidad}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if (data && data.data) {
              $('#txtDescripcion').val(data.data.descripcion);
              $('#modalFormulario').modal();
            } else {
              Swal.fire("Error", "Nacionalidad no encontrada.", "error");
            }
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
      const IdNacionalidad = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/nacionalidades/${IdNacionalidad}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': CSRFToken
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if (data && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", "success");
            } else {
              Swal.fire(data.error || "Error desconocido.");
            }
          }).catch(err => {
            console.error(err);
            Swal.fire("Error", "Ocurrió un error al eliminar la nacionalidad.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  }

  $(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}
