{% extends 'base.html' %}

{% block titulo %}
Depósitos
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Depósitos</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Capacidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdDeposito">
              <label for="txtNombre">Nombre:</label>
              <input type="text" class="form-control" placeholder="Ingrese el nombre del Depósito" id="txtNombre">
            </div>
            <div class="form-group">
              <label for="txtDireccion">Dirección:</label>
              <input type="text" class="form-control" placeholder="Ingrese la dirección" id="txtDireccion">
            </div>
            <div class="form-group">
              <label for="txtTelefono">Teléfono:</label>
              <input type="number" class="form-control" placeholder="Ingrese el número de teléfono" id="txtTelefono">
            </div>
            <div class="form-group">
              <label for="txtCapacidad">Capacidad: En m3</label>
              <input type="number" class="form-control" placeholder="Ingrese la capacidad" id="txtCapacidad">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/depositos',
      columns: [
        { data: 'id_deposito' },
        { data: 'nombre' },
        { data: 'direccion' },
        { data: 'telefono' },
        { data: 'capacidad' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id_deposito}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id_deposito}">Eliminar</button>`;
          }
        }
      ]
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar un Depósito");
      $('#txtIdDeposito').val("");
      $('#txtNombre').val("");
      $('#txtDireccion').val("");
      $('#txtTelefono').val("");
      $('#txtCapacidad').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idDeposito = $('#txtIdDeposito').val();
      const nuevoNombre = $('#txtNombre').val();
      const nuevaDireccion = $('#txtDireccion').val();
      const nuevoTelefono = $('#txtTelefono').val();
      const nuevaCapacidad = $('#txtCapacidad').val();
      const tabla = $('#tbl').DataTable();

      const depositoData = {
        nombre: nuevoNombre,
        direccion: nuevaDireccion,
        telefono: nuevoTelefono,
        capacidad: nuevaCapacidad
      };

      if(idDeposito) {
        fetch(`/api/v1/depositos/${idDeposito}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify(depositoData)
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El depósito ha sido actualizado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar el depósito.", "error");
        });
      } else {
        fetch(`/api/v1/depositos`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify(depositoData)
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Guardado", "El depósito ha sido agregado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar el depósito.", "error");
        });
      }
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]', function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar un Depósito");

          const idDeposito = $(this).data('id');
          $('#txtIdDeposito').val(idDeposito);

          fetch(`/api/v1/depositos/${idDeposito}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtNombre').val(data.data.nombre);
            $('#txtDireccion').val(data.data.direccion);
            $('#txtTelefono').val(data.data.telefono);
            $('#txtCapacidad').val(data.data.capacidad);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function(){
      const idDeposito = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/depositos/${idDeposito}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar el depósito.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  }

  $(document).ready(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}
