{% extends 'base.html' %}

{% block titulo %}
Medico
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Medicos</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-outline-info" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <div style="overflow-x: auto;">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>N° C.I.</th>
              <th>Sexo</th>
              <th>Teléfono</th>
              <th>Correo</th>
              <th>Matrícula</th>
              <th>Especialidad</th>
              <th>Fecha de Nacimiento</th>
              <th>Estado Civil</th>
              <th>Dirección</th>
              <th>Ciudad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
      </table>
    </div>
      </div>
    </div>
    <!-- /tarjeta -->

 <!-- El formulario -->
 <div class="modal" id="modalFormulario">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="modalTitle"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdMedico">

              <label for="txtNombre">Nombre:</label>
              <input type="text" class="form-control" placeholder="Ingrese el nombre del médico" id="txtNombre">

              <label for="txtApellido">Apellido:</label>
              <input type="text" class="form-control" placeholder="Ingrese el apellido del médico" id="txtApellido">

              <label for="txtCedula">Cédula:</label>
              <input type="text" class="form-control" placeholder="Ingrese el N° de C.I. del médico" id="txtCedula">

              <label for="txtSexo">Sexo:</label>
              <select class="form-control" id="txtSexo">
                <option value="" disabled selected>Seleccione el sexo</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>

              <label for="txtTelefono">Teléfono:</label>
              <input type="text" class="form-control" placeholder="Ingrese el teléfono del médico" id="txtTelefono">

              <label for="txtCorreo">Correo:</label>
              <input type="email" class="form-control" placeholder="Ingrese el correo electrónico del médico" id="txtCorreo">

              <label for="txtMatricula">Matrícula:</label>
              <input type="text" class="form-control" placeholder="Ingrese la matrícula del médico" id="txtMatricula">

              <label for="txtEspecialidad">Especialidad:</label>
              <div class="input-group">
                <!-- Campo de estado civil -->
                  <input type="hidden" id="id_especialidad" name="id_especialidad" />
                  <input type="text" id="txtEspecialidad" name="txtEspecialidad" readonly />

          
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalBuscarEspecialidad">Buscar</button>
                </div>
              </div>

              <label for="txtFecha_Nacimiento">Fecha de nacimiento:</label>
              <input type="date" class="form-control" placeholder="Ingresar fecha de nacimiento" id="txtFecha_Nacimiento">

              <label for="txtEstadoCivil">Estado Civil:</label>
              <div class="input-group">
                <input type="hidden" id="id_estado_civil" name="id_estado_civil"/>
                <input type="text" id="txtEstadoCivil" name="txtEstadoCivil" readonly/>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalBuscarEstadoCivil">Buscar</button>
                </div>
              </div>

              <label for="txtDireccion">Dirección:</label>
              <input type="text" class="form-control" placeholder="Ingrese la dirección del médico" id="txtDireccion">

              <label for="txtCiudad">Ciudad:</label>
              <div class="input-group">
                
                <input type="hidden" id="id_ciudad" name="id_ciudad" />
                <input type="text" id="txtCiudad" name="txtCiudad" readonly />

          
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalBuscarCiudad">Buscar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modales -->
          <div class="modal" id="modalBuscarEspecialidad">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="modalEspecialidadTitle">Seleccionar especialidad</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped" id="tblEspecialidad">
                      <thead>
                        <tr>
                          <th>Especialidad</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal" id="modalBuscarEstadoCivil">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="modalEstadoCivilTitle">Seleccionar estado civil</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped" id="tblEstado_civil">
                      <thead>
                        <tr>
                          <th>Estado Civil</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="modal" id="modalBuscarCiudad">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="modalCiudadTitle">Seleccionar ciudad</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped" id="tblCiudad">
                      <thead>
                        <tr>
                          <th>Ciudad</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>

<!-- Librerías de jQuery y jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
  $("#txtFecha_Nacimiento").datepicker({
    dateFormat: "yy-mm-dd",
    changeMonth: true,
    changeYear: true,
    yearRange: "1900:2024",
    maxDate: new Date()  // La fecha máxima es hoy
 });
</script>

{% endblock %}















{% block js %}
<script>
  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: {
        url: '/api/v1/medicos',
      },
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: 'cedula' },
        { data: 'sexo' },
        { data: 'telefono' },
        { data: 'correo' },
        { data: 'matricula' },
        { data: 'especialidad' },
        { 
          data: function(row) {
              // Validar que la fecha no sea nula
              if (row.fecha_nacimiento) {
                  const fecha = new Date(row.fecha_nacimiento); 
                  const dia = fecha.getUTCDate().toString().padStart(2, '0');
                  const mes = (fecha.getUTCMonth() + 1).toString().padStart(2, '0');
                  const anio = fecha.getUTCFullYear();
                  return `${dia}/${mes}/${anio}`;
              } else {
                  return "Fecha no disponible";
              }
          }
      },
        { data: 'estado_civil' },
        { data: 'direccion' },
        { data: 'ciudad' },{
          data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-success" data-id="${row.id}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id}">Eliminar</button>`;
          }
        }
      ]
    });
  }



  
  const initDatatablep = () => {
    $('#tblEspecialidad').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/especialidades',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_especialidad" class="fa fa-check" data-id="${row.id_especialidad}" data-especialidad="${row.descripcion}">Seleccionar</button>`;
          }
        }
      ]
    });
  
    $('#tblEspecialidad').on('click', 'button[name="btn_seleccionar_especialidad"]', function () {
      const id_especialidad = $(this).data('id');
      const especialidad = $(this).data('especialidad');
      $('#txtEspecialidad').val(especialidad);
      $('#id_especialidad').val(id_especialidad); // Corregido aquí
      $('#modalBuscarEspecialidad').modal('hide');
    });
  }
  
  const buscarEspecialidad = () => {
    $('#txtEspecialidad').on('click', function () {
      $('#modalEspecialidadTitle').text("Seleccionar Especialidad");
      $('#modalBuscarEspecialidad').modal();
    });
  }
  
  const initDatatablee= () => {
    $('#tblEstado_civil').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/estado_civiles',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_estado_civil" class="fa fa-check" data-id="${row.id_estado_civil}" data-estado_civil="${row.descripcion}">Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblEstado_civil').on('click', 'button[name="btn_seleccionar_estado_civil"]', function () {
      const idEstado_civil = $(this).data('id');
      const estado_civil = $(this).data('estado_civil');
      $('#txtEstado_civil').val(estado_civil);
      $('#id_estado_civil').val(idEstado_civil);
      $('#modalBuscarEstado_civil').modal('hide');
    });
  }

  const buscarEstado_civil = () => {
    $('#txtEstado_civil').on('click', function () {
      $('#modalEstado_civilTitle').text("Seleccionar Estado_civil");
      $('#modalBuscarEstado_civil').modal();
    });
  }

  const initDatatablec = () => {
    $('#tblCiudad').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/ciudades',
      columns: [
        { data: 'descripcion' },
        { 
          data: function(row) {
            return `<button type="button" name="btn_seleccionar_ciudad" class="fa fa-check" data-id="${row.id_ciudad}" data-ciudad="${row.descripcion}">Seleccionar</button>`;
          }
        }
      ]
    });
  
    // Al seleccionar la ciudad, se coloca el valor en el campo correspondiente y se cierra el modal
    $('#tblCiudad').on('click', 'button[name="btn_seleccionar_ciudad"]', function () {
      const idCiudad = $(this).data('id');
      const ciudad = $(this).data('ciudad');
      $('#txtCiudad').val(ciudad); // Asigna el nombre de la ciudad al campo de texto
      $('#id_ciudad').val(idCiudad); // Asigna el ID de la ciudad al campo oculto
      $('#modalBuscarCiudad').modal('hide'); // Cierra el modal
    });
  }
  
  const buscarCiudad = () => {
    $('#txtCiudad').on('click', function () {
      $('#modalCiudadTitle').text("Seleccionar Ciudad"); // Título del modal
      $('#modalBuscarCiudad').modal(); // Muestra el modal
    });
  }
  
  

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar Medico");
      $('#txtIdMedico').val(""); 
      $('#txtNombre').val(""); // Campo de nombre
      $('#txtApellido').val(""); // Campo de apellido
      $('#txtCedula').val(""); // Campo de cédula
      $('#txtSexo').val(""); // Campo de sexo
      $('#txtTelefono').val(""); // Campo de teléfono
      $('#txtCorreo').val(""); // Campo de correo
      $('#txtMatricula').val(""); // Campo de matrícula
      $('#txtEspecialidad').val(""); // Campo de especialidad (oculto)
      $('#txtFecha_Nacimiento').val(""); // Campo de fecha de nacimiento
      $('#txtEstadoCivil').val(""); // Campo de estado civil (oculto)
      $('#txtDireccion').val(""); // Campo de dirección
      $('#txtCiudad').val(""); // Campo de ciudad (oculto)
      $('#modalFormulario').modal(); // Mostrar modal para agregar
    });
  }
  
  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idMedico = $('#txtIdMedico').val();
      const nuevoNombre = $('#txtNombre').val();
      const nuevoApellido = $('#txtApellido').val();
      const nuevaCedula = $('#txtCedula').val();
      const nuevoSexo = $('#txtSexo').val();
      const nuevoTelefono = $('#txtTelefono').val();
      const nuevoCorreo = $('#txtCorreo').val();
      const nuevaMatricula = $('#txtMatricula').val();
      const id_especialidad = $('#id_especialidad').val();
      const nuevoFecha_Nacimiento = $('#txtFecha_Nacimiento').val();
      const id_estado_civil = $('#id_estado_civil').val();
      const nuevaDireccion = $('#txtDireccion').val();
      const id_ciudad = $('#id_ciudad').val();
      const tabla = $('#tbl').DataTable();
  
      // Validaciones de los campos
      if (idMedico) {
      // update
      fetch(`/api/v1/personas/${idMedico}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        }, body: JSON.stringify({nombre: nuevoNombre, apellido: nuevoApellido, cedula: nuevaCedula, sexo: nuevoSexo, telefono: nuevoTelefono, correo: nuevoCorreo, matricula: nuevaMatricula, id_especialidad: id_especialidad, fecha_Nacimiento: nuevoFecha_Nacimiento, id_estado_civil: id_estado_civil, direccion: nuevaDireccion, id_ciudad: id_ciudad})
      })
      .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El médico ha sido actualizado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar al medico.", "error");
        });
      } else {
        // insert
        fetch(`/api/v1/medicos`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({nombre: nuevoNombre, apellido: nuevoApellido, cedula: nuevaCedula, sexo: nuevoSexo, telefono: nuevoTelefono, correo: nuevoCorreo, matricula: nuevaMatricula, id_especialidad: id_especialidad, fecha_Nacimiento: nuevoFecha_Nacimiento, id_estado_civil: id_estado_civil, direccion: nuevaDireccion, id_ciudad: id_ciudad})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Agregado", "El médico ha sido agregado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar medico.", "error");
        });
      }
      $('#modalFormulario').modal("hide");
    });
  } 
  




















  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]',function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: "No"
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar Medico");

          const idMedico = $(this).data('id');
          $('#txtIdMedico').val(idMedico);

          // Obtener los datos del medico del backend
          fetch(`/api/v1/medicos/${idMedico}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtNombre').val(data.data.nombre);
            $('#txtApellido').val(data.data.apellido);
            $('#txtCedula').val(data.data.cedula);
            $('#txtSexo').val(data.data.sexo);
            $('#txtTelefono').val(data.data.telefono);
            $('#txtCorreo').val(data.data.correo);
            $('#txtMatricula').val(data.data.matricula);
            $('#id_especialidad').val(data.data.id_especialidad);
            $('#txtEspecialidad').val(data.data.especialidad);
            $('#txtFecha_Nacimiento').val(data.data.fecha_Nacimiento);
            $('#id_estado_civil').val(data.data.id_estado_civil);
            $('#txtEstado_civil').val(data.data.estado_civil);
            $('#txtDireccion').val(data.data.direccion);
            $('#txtCiudad').val(data.data.ciudad);
            $('#id_ciudad').val(data.data.id_ciudad);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
      const idMedico = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/medicos/${idMedico}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila =$(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "El medico ha sido eliminada correctamente.", "success");
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar medico.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
    buscarEspecialidad();
    buscarEstado_civil();
    buscarCiudad();
  }

  $(function() {
    initDatatable();
    initDatatablep();
    initDatatablee();
    initDatatablec();
    addEvents();
  }); 
</script> 
{% endblock %}























