{% extends 'base.html' %}

{% block titulo %}
Proveedores
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Proveedores</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>ID</th>
              <th>RUC</th>
              <th>Razón Social</th>
              <th>Fecha de Registro</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdProveedor">
              <label for="txtRUC">RUC:</label>
              <input type="text" class="form-control" placeholder="Ingrese el RUC" id="txtRUC">
            </div>
            <div class="form-group">
              <label for="txtRazonSocial">Razón Social:</label>
              <input type="text" class="form-control" placeholder="Ingrese la razón social" id="txtRazonSocial">
            </div>
            <div class="form-group">
              <label for="txtRegistro">Fecha de Registro:</label>
              <input type="date" class="form-control" id="txtRegistro">
            </div>
            <div class="form-group">
              <label for="txtEstado">Estado:</label>
              <select class="form-control" id="txtEstado">
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
                <option value="pendiente">Pendiente</option>
              </select>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/proveedores',
      columns: [
        { data: 'id_proveedor' },
        { data: 'ruc' },
        { data: 'razon_social' },
        { data: 'registro' },
        { data: 'estado', render: function(data) {
          return data.charAt(0).toUpperCase() + data.slice(1);}
        },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id_proveedor}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id_proveedor}">Eliminar</button>`;
          }
        }
      ]
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar un Proveedor");
      $('#txtIdProveedor').val("");
      $('#txtRUC').val("");
      $('#txtRazonSocial').val("");
      $('#txtRegistro').val("");
      $('#txtEstado').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idProveedor = $('#txtIdProveedor').val();
      const nuevoRUC = $('#txtRUC').val();
      const nuevaRazonSocial = $('#txtRazonSocial').val();
      const nuevoRegistro = $('#txtRegistro').val();
      const nuevoEstado = $('#txtEstado').val();
      const tabla = $('#tbl').DataTable();
  
      const proveedorData = {
        ruc: nuevoRUC,
        razon_social: nuevaRazonSocial,
        registro: nuevoRegistro,
        estado: nuevoEstado // Usamos el estado directamente como string
      };
  
      // Operación de actualización
      if (idProveedor) {
        fetch(`/api/v1/proveedores/${idProveedor}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(proveedorData)
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && data.success) {
            tabla.ajax.reload(); // Recarga la tabla
            Swal.fire("Actualizado", "El proveedor ha sido actualizado correctamente.", "success");
          } else {
            Swal.fire("Error", data.error || "Error al actualizar el proveedor.", "error");
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar el proveedor.", "error");
        });
      } else { // Operación de agregar
        fetch(`/api/v1/proveedores`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(proveedorData)
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && data.success) {
            tabla.ajax.reload(); // Recarga la tabla
            Swal.fire("Guardado", "El proveedor ha sido agregado correctamente.", "success");
          } else {
            Swal.fire("Error", data.error || "Error al guardar el proveedor.", "error");
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar el proveedor.", "error");
        });
      }
      $('#modalFormulario').modal("hide"); // Cierra el modal
    });
  }
  

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]', function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar un Proveedor");

          const idProveedor = $(this).data('id');
          $('#txtIdProveedor').val(idProveedor);

          fetch(`/api/v1/proveedores/${idProveedor}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtRUC').val(data.data.ruc);
            $('#txtRazonSocial').val(data.data.razon_social);
            $('#txtRegistro').val(data.data.registro);
            $('#txtEstado').val(data.data.estado ? "true" : "false");
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function(){
      const idProveedor = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/proveedores/${idProveedor}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar el proveedor.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  }

  $(document).ready(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}
