{% extends 'base.html' %}

{% block titulo %}
Paises
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Agregar País</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdPais">
              <label for="txtDescripcion">Descripción:</label>
              <input type="text" class="form-control" placeholder="Ingrese algún país" id="txtDescripcion">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

  const CSRFToken = "{{ csrf_token() }}" || null;

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/paises',  // Ruta modificada para los países
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id}">Eliminar</button>` 
          }
        }
      ]
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar un País");
      $('#txtIdPais').val("");
      $('#txtDescripcion').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idPais = $('#txtIdPais').val();
      const nuevaDescripcion = $('#txtDescripcion').val();
      const tabla = $('#tbl').DataTable();

      if(idPais) {
        // Actualizar País
        fetch(`/api/v1/paises/${idPais}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRFToken
          }, 
          body: JSON.stringify({ descripcion: nuevaDescripcion })
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El país ha sido actualizado correctamente.", "success");
          } else {
            Swal.fire(data.error || "Error desconocido.");
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar el país.", "error");
        });
      } else {
        // Insertar País
        fetch(`/api/v1/paises`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRFToken
          }, 
          body: JSON.stringify({ descripcion: nuevaDescripcion })
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Agregado", "El país ha sido agregado correctamente.", "success");
          } else {
            Swal.fire(data.error || "Error desconocido.");
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar el país.", "error");
        });
      }

      $('#txtDescripcion').val("");
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]',function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar un País");

          const idPais = $(this).data('id');
          $('#txtIdPais').val(idPais);

          fetch(`/api/v1/paises/${idPais}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if (data && data.data) {
              $('#txtDescripcion').val(data.data.descripcion);
              $('#modalFormulario').modal();
            } else {
              Swal.fire("Error", "País no encontrado.", "error");
            }
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
      const idPais = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/paises/${idPais}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': CSRFToken
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if (data && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", "success");
            } else {
              Swal.fire(data.error || "Error desconocido.");
            }
          }).catch(err => {
            console.error(err);
            Swal.fire("Error", "Ocurrió un error al eliminar el país.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  }

  $(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}
