{% extends 'base.html' %}

{% block titulo %}
Pacientes
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Pacientes</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
          <button type="button" class="btn btn-outline-primary" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Nombre:</th>
              <th>Apellido:</th>
              <th>Ci:</th>
              <th>Télefono:</th>
              <th>Fecha de registro:</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdPaciente">
              <input type="hidden" id="id_persona">
              <label for="txtPersona">Paciente:</label>
              <input type="text" class="form-control" placeholder="clik para asignar un paciente" id="txtPersona">
              <label for="txtFecha_registro">Fecha de registro:</label>
              <input type="date" class="form-control" placeholder="Ingrese la fecha de registro" id="txtFecha_registro">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarPersona">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalPersonaTitle">Seleccionar Paciente</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblPersona">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>CI</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-4 d-none" id="rowAlerta">
      <div class="col col-md-12">
        <div class="alert alert-success">
          <strong>Registro Exitoso!</strong>
          <div class="row" id="mostrarAlerta"></div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}


<script>

  const CSRFToken = "{{ csrf_token() }}" || null;

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/pacientes',
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: 'cedula' },
        { data: 'telefono_emergencia' },
        { data: 'fecha_registro' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-outline-success btn-sg" data-id="${row.id_paciente}"title="Editar"><i class="fas fa-edit"></i></button>
                    <button type="button" name="btn_eliminar" class="btn btn-outline-danger"data-id="${row.id_paciente}"title="Eliminar"><i class="fas fa-trash-alt"></i></button>`;;
          }
        }
      ]
    });
  }

  const initDatatablep= () => {
    $('#tblPersona').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/personas',
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: 'cedula' },
        { data: 'telefono_emergencia' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_persona"  class="btn btn-success" data-id="${row.id}" data-nombre="${row.nombre}" data-apellido="${row.apellido}" data-cedula="${row.cedula}" data-telefono_emergencia="${row.telefono_emergencia}"><i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblPersona').on('click', 'button[name="btn_seleccionar_persona"]', function () {
      const idPersona = $(this).data('id');
      const persona = $(this).data('nombre');
      const apellido = $(this).data('apellido');
      const cedula = $(this).data('cedula');
      const telefono_emergencia = $(this).data('telefono_emergencia');
      $('#txtPersona').val(persona+" "+apellido+" "+cedula+" "+telefono_emergencia);
      $('#id_persona').val(idPersona);
      $('#modalBuscarPersona').modal('hide');
    });
  }

  const buscarPersona = () => {
    $('#txtPersona').on('click', function () {
      $('#modalPersonaTitle').text("Seleccionar paciente");
      $('#modalBuscarPersona').modal();
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar Paciente");
      $('#txtIdPaciente').val("");
      $('#id_persona').val("");
      $('#txtPersona').val("");
      $('#txtFecha_registro').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idPaciente = $('#txtIdPaciente').val();
      const id_persona = $('#id_persona').val();
      const nuevaFecha_registro = $('#txtFecha_registro').val();
      const tabla = $('#tbl').DataTable();
      //debugger;

      if(idPaciente) {
        // update
        fetch(`/api/v1/pacientes/${idPaciente}`, {
          method: 'PUT',
          headers: {
               'Content-Type': 'application/json'
            , 'X-CSRFToken': CSRFToken
            
          }, body: JSON.stringify({ id_persona: id_persona, fecha_registro: nuevaFecha_registro})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "El paciente ha sido actualizado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar el paciente.", "error");
        });
      } else {
        // insert
        fetch(`/api/v1/pacientes`, {
          method: 'POST',
          headers: {
               'Content-Type': 'application/json'
            , 'X-CSRFToken': CSRFToken
          }, body: JSON.stringify({ id_persona: id_persona, fecha_registro: nuevaFecha_registro})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Agregado", "El paciente ha sido agregado correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar el paciente.", "error");
        });
        
      }
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]',function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar Paciente");

          const idPaciente = $(this).data('id');
          $('#txtIdPaciente').val(idPaciente);

          // Obtener los datos del paciente del backend
          fetch(`/api/v1/pacientes/${idPaciente}`, {
            method: 'GET',
            headers: {
             'Content-Type': 'application/json'
            , 'X-CSRFToken': CSRFToken
     
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtIdPaciente').val(data.data.id_paciente);
            $('#txtPersona').val(data.data.nombre+" "+data.data.apellido+" "+data.data.cedula+" "+data.data.telefono_emergencia);
            $('#id_persona').val(data.data.id_persona);
            $('#txtFecha_registro').val(data.data.fecha_registro);

 // Convertimos la fecha al formato YYYY-MM-DD
            const fechaRegistro = new Date(data.data.fecha_registro);
            const fechaFormateada = fechaRegistro.toISOString().split('T')[0];
            $('#txtFecha_registro').val(fechaFormateada); // Cargar la fecha en el formato correcto
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
      const idPaciente = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/pacientes/${idPaciente}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
           , 'X-CSRFToken': CSRFToken
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila =$(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "El paciente ha sido eliminado correctamente.", "success");
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar el paciente.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
    buscarPersona();
  }

  $(function() {
    initDatatable();
    initDatatablep();
    addEvents();
  }); 
</script> 
{% endblock %}