{% extends 'base.html' %}

{% block titulo %}
Personas
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Personas</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Nro. Cédula</th>
              <th>Fecha Nacimiento</th>
              <th>Sexo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdPersona">
              <label for="txtNombre">Nombres:</label>
              <input type="text" class="form-control" placeholder="Ingrese los nombres" id="txtNombre">
            </div>
            <div class="form-group">
              <label for="txtApellido">Apellidos:</label>
              <input type="text" class="form-control" placeholder="Ingrese los apellidos" id="txtApellido">
            </div>
            <div class="form-group">
              <label for="txtCi">Nro. Cédula:</label>
              <input type="number" class="form-control" placeholder="Ingrese el número de cédula" id="txtCi">
            </div>
            <div class="form-group">
              <label for="txtFechanac">Fecha de Nacimiento:</label>
              <input type="date" class="form-control" id="txtFechanac">
            </div>
            <div class="form-group">
              <label for="txtSexo">Sexo:</label>
              <div>
                <label>
                  <input type="radio" name="sexo" value="M"> Masculino
                </label>
                <label>
                  <input type="radio" name="sexo" value="F"> Femenino
                </label>
              </div>
            </div>
            
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax: '/api/v1/personas',
      columns: [
        { data: 'id_persona' },
        { data: 'nombres' },
        { data: 'apellidos' },
        { data: 'ci' },
        { data: 'fechanac' },
        { data: 'sexo' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id_persona}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id_persona}">Eliminar</button>`;
          }
        }
      ]
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar una Persona");
      $('#txtIdPersona').val("");
      $('#txtNombre').val("");
      $('#txtApellido').val("");
      $('#txtCi').val("");
      $('#txtFechanac').val("");
      $('#txtSexo').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
  $('#btnGuardar').on('click', function() {
    const idPersona = $('#txtIdPersona').val();
    const nuevoNombre = $('#txtNombre').val();
    const nuevoApellido = $('#txtApellido').val();
    const nuevoCi = $('#txtCi').val();
    const nuevaFechanac = $('#txtFechanac').val();
    
    // Obtener el valor del radio button seleccionado para el sexo
    const nuevoSexo = $('input[name="sexo"]:checked').val(); // Obtiene el valor de "M" o "F"
    
    const tabla = $('#tbl').DataTable();

    const personaData = {
      nombres: nuevoNombre,
      apellidos: nuevoApellido,
      ci: nuevoCi,
      fechanac: nuevaFechanac,
      sexo: nuevoSexo // Se pasa el valor del radio button
    };

    if(idPersona) {
      fetch(`/api/v1/personas/${idPersona}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        }, body: JSON.stringify(personaData)
      })
      .then(resp => resp.json())
      .then(data => {
        if(data && !data.error && data.success) {
          tabla.ajax.reload();
          Swal.fire("Actualizado", "La persona ha sido actualizada correctamente.", "success");
        } else {
          Swal.fire(data.error);
        }
      }).catch(err => {
        console.error(err);
        Swal.fire("Error", "Ocurrió un error al actualizar la persona.", "error");
      });
    } else {
      fetch(`/api/v1/personas`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }, body: JSON.stringify(personaData)
      })
      .then(resp => resp.json())
      .then(data => {
        if(data && !data.error && data.success) {
          tabla.ajax.reload();
          Swal.fire("Guardado", "La persona ha sido agregada correctamente.", "success");
        } else {
          Swal.fire(data.error);
        }
      }).catch(err => {
        console.error(err);
        Swal.fire("Error", "Ocurrió un error al guardar la persona.", "error");
      });
    }
    $('#modalFormulario').modal("hide");
  });
}


const editar = () => {
  $('#tbl').on('click', 'button[name="btn_editar"]', function(){
    Swal.fire({
      title: "¿Deseas editar este registro?",
      showCancelButton: true,
      confirmButtonText: "Si",
      cancelButtonText: `No`
    }).then((result) => {
      if (result.isConfirmed) {
        $('#modalTitle').text("Editar una Persona");

        const idPersona = $(this).data('id');
        $('#txtIdPersona').val(idPersona);

        fetch(`/api/v1/personas/${idPersona}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(resp => resp.json())
        .then(data => {
          $('#txtNombre').val(data.data.nombres);
          $('#txtApellido').val(data.data.apellidos);
          $('#txtCi').val(data.data.nro_cedula);
          $('#txtFechanac').val(data.data.fecha_nacimiento);

          // Seleccionar el radio button de acuerdo con el sexo de la persona
          if (data.data.sexo === 'M') {
            $('#sexoMasculino').prop('checked', true);
          } else if (data.data.sexo === 'F') {
            $('#sexoFemenino').prop('checked', true);
          }

          $('#modalFormulario').modal();
        });
      }
    });
  });
}


  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function(){
      const idPersona = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/personas/${idPersona}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar la persona.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
  }

  $(document).ready(function() {
    initDatatable();
    addEvents();
  });
</script>
{% endblock %}
