{% extends 'base.html' %}

{% block titulo %}
Citas
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Citas</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-success" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Nombre del medico :</th>
              <th>Apellido </th>
              <th>Especialidad:</th>
              <th>Turno:</th>
              <th>Nombre del paciente:</th>
              <th>Apellido del paciente:</th>
              <th>Cédula:</th>
              <th>Hora:</th>
              <th>Observacion:</th>
              <th>Estado de la cita:</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdCita">
              <input type="hidden" id="id_agenda_medica">
              <label for="txtAgenda_medica">Médico:</label>
              <input type="text" class="form-control" placeholder="Clik para asignar un médico" id="txtAgenda_medica"  readonly> 
              <input type="hidden" id="id_paciente">
              <label for="txtPaciente">Paciente:</label>
              <input type="text" class="form-control" placeholder="Clik para selecionar un paciente"  id="txtPaciente" readonly>
              <input type="hidden" id="id_hora">
              <label for="txtHora">Hora:</label>
              <input type="time" class="form-control" placeholder="Clik para selecionar una hora disponible" id="txtHora"  readonly>
              <label for="txtObservacion">Observacion:</label>
              <input type="text" class="form-control" placeholder="Añadir una obcervación"  id="txtObservacion">
              <input type="hidden" id="id_estado_cita">
              <label for="txtEstado_cita">Estado de la cita:</label>
              <input type="text" class="form-control" placeholder="Clik para selecionar el estado de la cita" id="txtEstado_cita" readonly>
              </select>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarAgenda_medica">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalAgenda_medicaTitle">Seleccionar agenda medica</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblAgenda_medica">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Especialidad</th>
                    <th>Turno</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal" id="modalBuscarPaciente">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalPacienteTitle">Seleccionar paciente</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblPaciente">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="modalBuscarHora">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalHoraTitle">Seleccionar Disponibilidad horaria</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblHora">
                <thead>
                  <tr>
                    <th>Disponibilidad Horaria</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal" id="modalBuscarEstado_cita">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalEstado_citaTitle">Seleccionar estado de la cita</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblEstado_cita">
                <thead>
                  <tr>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>

    
    <div class="row mt-4 d-none" id="rowAlerta">
      <div class="col col-md-12">
        <div class="alert alert-success">
          <strong>Registro Exitoso!</strong>
          <div class="row" id="mostrarAlerta"></div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/citas',
      columns: [
        { data: 'nombrem' },
        { data: 'apellidom' },
        { data: 'especialidad' },
        { data: 'turno' },
        { data: 'nombrep' },
        { data: 'apellidop' },
        { data: 'cedula' },
        { data: 'hora' },
        { data: 'observacion' },
        { data: 'estado' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-success" data-id="${row.id_cita}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id_cita}">Eliminar</button>`;
          }
        }
      ]
    });
  }

  const initDatatablea= () => {
    $('#tblAgenda_medica').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/agenda_medicas',
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: 'especialidad' },
        { data: 'turno' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_agenda_medica" class="btn btn-success" data-id="${row.id_agenda_medica}" data-nombre="${row.nombre}" data-apellido="${row.apellido}" data-especialidad="${row.especialidad}" data-turno="${row.turno}"><i class="fa fa-check"></i> Seleccionar</button>`;
          }
        }
      ]
    });
    $('#tblAgenda_medica').on('click', 'button[name="btn_seleccionar_agenda_medica"]', function () {
      const idAgenda_medica = $(this).data('id');
      const medico = $(this).data('nombre');
      const apellido = $(this).data('apellido');
      const especialidad = $(this).data('especialidad');
      const turno = $(this).data('turno');
      $('#txtAgenda_medica').val(medico+" "+apellido+" "+especialidad+" "+turno); 
      $('#id_agenda_medica').val(idAgenda_medica);
      $('#modalBuscarAgenda_medica').modal('hide');
    });
  }
  const buscarAgenda_medica = () => {
    $('#txtAgenda_medica').on('click', function () {
      $('#modalAgenda_medicaTitle').text("Seleccionar agenda medica");
      $('#modalBuscarAgenda_medica').modal();
    });
  }

  const initDatatablep= () => {
    $('#tblPaciente').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/pacientes',
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: 'cedula' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_paciente" class="btn btn-success" data-id="${row.id_paciente}" data-nombre="${row.nombre}" data-apellido="${row.apellido}" data-cedula="${row.cedula}" ><i class="fa fa-check"></i>Seleccionar</button>`;
          }
        }
      ]
    });
    $('#tblPaciente').on('click', 'button[name="btn_seleccionar_paciente"]', function () {
      const idPaciente = $(this).data('id');
      const paciente = $(this).data('nombre');
      const apellido = $(this).data('apellido');
      const cedula = $(this).data('cedula');
      $('#txtPaciente').val(paciente+" "+apellido+" "+cedula);
      $('#id_paciente').val(idPaciente);
      $('#modalBuscarPaciente').modal('hide');
    });
  }

  const buscarPaciente = () => {
    $('#txtPaciente').on('click', function () {
      $('#modalPacienteTitle').text("Seleccionar paciente");
      $('#modalBuscarPaciente').modal();
    });
  } 
  const initDatatableh= () => {
    $('#tblHora').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/disponibilidad_horaria',
      columns: [
        { data: 'dis_horas' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_hora" class="btn btn-success" data-id="${row.id_disponibilidad_horaria}" data-sala_atencion="${row.dis_hora}"<i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblHora').on('click', 'button[name="btn_seleccionar_hora"]', function () {
      const idHora= $(this).data('id');
      const hora = $(this).data('hora');
      $('#txtHora').val(hora);
      $('#id_hora').val(idHora);
      $('#modalBuscarHora').modal('hide');
    });
  }

  const buscarHora = () => {
    $('#txtHora').on('click', function () {
      $('#modalHoraTitle').text("Seleccionar Hora");
      $('#modalBuscarHora').modal();
    });
  }


  const initDatatablees= () => {
    $('#tblEstado_cita').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/estado_citas',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_estado_cita" class="btn btn-success" data-id="${row.id_estado_cita}" data-estado_cita="${row.descripcion}"<i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblEstado_cita').on('click', 'button[name="btn_seleccionar_estado_cita"]', function () {
      const idEstado_cita = $(this).data('id');
      const estado_cita = $(this).data('estado_cita');
      $('#txtEstado_cita').val(estado_cita);
      $('#id_estado_cita').val(idEstado_cita);
      $('#modalBuscarEstado_cita').modal('hide');
    });
  }

  const buscarEstado_cita = () => {
    $('#txtEstado_cita').on('click', function () {
      $('#modalEstado_citaTitle').text("Seleccionar  estado de la cita");
      $('#modalBuscarEstado_cita').modal();
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar Cita");
      $('#txtIdCita').val("");
      $('#txtAgenda_medica').val("");
      $('#txtPaciente').val("");
      $('#txtHora').val("");
      $('#txtObservacion').val("");
      $('#txtEstado_cita').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idCita = $('#txtIdCita').val();
      const id_agenda_medica = $('#id_agenda_medica').val();
      const id_paciente= $('#id_pacidiente').val();
      const id_hora = $('#id_hora').val();
      const id_estado_cita= $('#id_estado_cita').val();
      const tabla = $('#tbl').DataTable();

      if(idCita) {
        // update
        fetch(`/api/v1/citas/${idCita}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({id_agenda_medica:id_agenda_medica, id_paciente:id_paciente, observacion:observacion, id_estado_cita:id_estado_cita, id_hora:id_hora})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "La cita ha sido actualizada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar la cita.", "error");
        });
      } else {
        // insert
        fetch(`/api/v1/citas`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({ id_agenda_medica:id_agenda_medica, id_paciente:id_paciente, observacion:observacion, id_estado_cita:id_estado_cita, id_hora:id_hora})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Agregado", "La cita ha sido agregada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar la cita.", "error");
        });
      }
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]',function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar Cita");

          const idCita = $(this).data('id');
          $('#txtIdCita').val(idCita);

          // Obtener los datos de la cita del backend
          fetch(`/api/v1/citas/${idCita}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtIdCita').val(data.data.id_cita);
            $('#txtAgenda_medica').val(data.data.nombre+" "+data.data.apellido+" "+data.data.especialidad+" "+data.data.turno);
            $('#id_agenda_medica').val(data.data.id_agenda_medica);
            $('#txtPaciente').val(data.data.nombre+" "+data.data.apellido +" "+data.data.cedula);
            $('#id_paciente').val(data.data.id_paciente);
            $('#txHora').val(data.data.hora);
            $('#txid_hora').val(data.data.id_hora);
            $('#txtEstado_cita').val(data.data.estado_cita);
            $('#txid_estado_cita').val(data.data.id_estado_cita);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
      const idCita = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Si",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/citas/${idCita}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila =$(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "La cita ha sido eliminada correctamente.", "success");
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar la cita.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
    buscarAgenda_medica();
    buscarPaciente();
    buscarHora();
    buscarEstado_cita();
  }

  $(function() {
    initDatatable();
    initDatatablea();
    initDatatablep();
    initDatatableh();
    initDatatablees();
    addEvents();
  });
</script>
{% endblock %}
