{% extends 'base.html' %}

{% block titulo %}
Agenda Médica
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Agenda Médica</h3>

    <!-- tarjeta -->
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-success" id="btnAgregar">Agregar</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Nombre:</th>
              <th>Apellido:</th>
              <th>Especialidad:</th>
              <th>Dias laborales:</th>
              <th>Turno:</th>
              <th>Sala de atención:</th>
              <th>Estado laboral del médico:</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- Modal Formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdAgenda_medica">
              <input type="hidden" id="id_medico">
              <label for="txtMedico">Médico:</label>
              <input type="text" class="form-control" placeholder="Clik para asignar un médico" id="txtMedico">
              <input type="hidden" id="id_especialidad">
              <label for="txtEspecialidad">Especialidad:</label>
              <input type="text" class="form-control" placeholder="Clik para selecionar la Especialidad" id="txtEspecialidad">
              <input type="hidden" id="id_dia">
              <label for="txtDia">Dias Laborales:</label>
              <input type="text" class="form-control" placeholder="Clik para asignar el día" id="txtDia">
              <input type="hidden" id="id_turno">
              <label for="txtTurno">Turno:</label>
              <input type="text" class="form-control" placeholder="Clik para asignar el turno" id="txtTurno">
              <input type="hidden" id="id_sala_atencion">
              <label for="txtSala_atencion">Sala de atencion:</label>
              <input type="text" class="form-control" placeholder="Clik para asignar la sala de atencion" id="txtSala_atencion">
              <input type="hidden" id="id_estado_laboral">
              <label for="txtEstado_laboral">Estado laboral del médico:</label>
              <input type="text" class="form-control" placeholder="Clik para seleccionar el estado laboral del médico" id="txtEstado_laboral">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal" id="modalBuscarMedico">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalMedicoTitle">Seleccionar Médico</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblMedico">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarEspecialidad">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalEspecialidadTitle">Seleccionar Especialidad</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblEspecialidad">
                <thead>
                  <tr>
                    <th>Especialidad</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarDia">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalDiaTitle">Seleccionar Dia</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblDia">
                <thead>
                  <tr>
                    <th>Dias laborales</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarTurno">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalTurnoTitle">Seleccionar Turno</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblTurno">
                <thead>
                  <tr>
                    <th>Turno</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarSala_atencion">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalSala_atencionTitle">Seleccionar Sala de atencion</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblSala_atencion">
                <thead>
                  <tr>
                    <th>Sala de atencion</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modalBuscarEstado_laboral">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalEstado_laboralTitle">Seleccionar Estado laboral</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered w-100" id="tblEstado_laboral">
                <thead>
                  <tr>
                    <th>Estado laboral</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script> 
  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/agenda_medicas',      
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: 'especialidad' },
        { data: 'dia' },
        { data: 'turno' },
        { data: 'sala_atencion' },
        { data: 'estado_laboral' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-success" data-id="${row.id_agenda_medica}">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id_agenda_medica}">Eliminar</button>`
          }
        }
      ]
    });
  }

  const initDatatablem= () => {
    $('#tblMedico').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/medicos',
      columns: [
        { data: 'nombre' },
        { data: 'apellido' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_persona" class="btn btn-success" data-id="${row.id_medico}" data-nombre="${row.nombre}" data-apellido="${row.apellido}"><i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblMedico').on('click', 'button[name="btn_seleccionar_medico"]', function () {
      const idMedico = $(this).data('id');
      const medico = $(this).data('nombre');
      const apellido = $(this).data('apellido');
      $('#txtMedico').val(medico+" "+apellido);
      $('#id_medico').val(idMedico);
      $('#modalBuscarMedico').modal('hide');
    });
  }

  const buscarMedico = () => {
    $('#txtMedico').on('click', function () {
      $('#modalMedicoTitle').text("Seleccionar médico");
      $('#modalBuscarMedico').modal();
    });
  }

  const initDatatablee= () => {
    $('#tblEspecialidad').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/especialidades',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_especialidad" class="btn btn-success" data-id="${row.id_especialidad}" data-especialidad="${row.descripcion}"<i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblEspecialidad').on('click', 'button[name="btn_seleccionar_especialidad"]', function () {
      const idEspecialidad = $(this).data('id');
      const especialidad = $(this).data('especialidad');
      $('#txtEspecialidad').val(especialidad);
      $('#id_especialidad').val(idEspecialidad);
      $('#modalBuscarEspecialidad').modal('hide');
    });
  }

  const buscarEspecialidad = () => {
    $('#txtEspecialidad').on('click', function () {
      $('#modalEspecialidadTitle').text("Seleccionar Especialidad");
      $('#modalBuscarEspecialidad').modal();
    });
  }

  const initDatatabled= () => {
    $('#tblDia').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/dias',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_dia" class="btn btn-success" data-id="${row.id_dia}" data-dia="${row.descripcion}"<i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblDia').on('click', 'button[name="btn_seleccionar_dia"]', function () {
      const idDia = $(this).data('id');
      const dia = $(this).data('dia');
      $('#txtDia').val(dia);
      $('#id_dia').val(idDia);
      $('#modalBuscarDia').modal('hide');
    });
  }

  const buscarDia= () => {
    $('#txtDia').on('click', function () {
      $('#modalDiaTitle').text("Seleccionar Dia");
      $('#modalBuscarDia').modal();
    });
  }

  const initDatatablet= () => {
    $('#tblTurno').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/turnos',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_turno" class="btn btn-success" data-id="${row.id_turno}" data-turno="${row.descripcion}"<i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblTurno').on('click', 'button[name="btn_seleccionar_turno"]', function () {
      const idTurno = $(this).data('id');
      const turno = $(this).data('turno');
      $('#txtTurno').val(turno);
      $('#id_turno').val(idTurno);
      $('#modalBuscarTurno').modal('hide');
    });
  }

  const buscarTurno = () => {
    $('#txtTurno').on('click', function () {
      $('#modalTurnoTitle').text("Seleccionar Turno");
      $('#modalBuscarTurno').modal();
    });
  }

  const initDatatables= () => {
    $('#tblSala_atencion').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/sala_atenciones',
      columns: [
        { data: 'nombre' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_sala_atencion" class="btn btn-success" data-id="${row.id_sala_atencion}" data-sala_atencion="${row.nombre}"<i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblSala_atencion').on('click', 'button[name="btn_seleccionar_sala_atencion"]', function () {
      const idSala_atencion = $(this).data('id');
      const sala_atencion = $(this).data('sala_atencion');
      $('#txtSala_atencion').val(sala_atencion);
      $('#id_sala_atencion').val(idSala_atencion);
      $('#modalBuscarSala_atencion').modal('hide');
    });
  }

  const buscarSala_atencion = () => {
    $('#txtSala_atencion').on('click', function () {
      $('#modalSala_atencionTitle').text("Seleccionar Sala de atencion");
      $('#modalBuscarSala_atencion').modal();
    });
  }

  const initDatatablees= () => {
    $('#tblEstado_laboral').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/api/v1/estado_laborales',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_seleccionar_estado_laboral" class="btn btn-success" data-id="${row.id_estado_laboral}" data-estado_laboral="${row.descripcion}"<i class="fa fa-check"></i>Selecionar</button>`;
          }
        }
      ]
    });
    $('#tblEstado_laboral').on('click', 'button[name="btn_seleccionar_estado_laboral"]', function () {
      const idEstado_laboral = $(this).data('id');
      const estado_laboral = $(this).data('estado_laboral');
      $('#txtEstado_laboral').val(estado_laboral);
      $('#id_estado_laboral').val(idEstado_laboral);
      $('#modalBuscarEstado_laboral').modal('hide');
    });
  }

  const buscarEstado_laboral = () => {
    $('#txtEstado_laboral').on('click', function () {
      $('#modalEstado_laboralTitle').text("Seleccionar Estado_laboral");
      $('#modalBuscarEstado_laboral').modal();
    });
  }

  const agregar = () => {
    $('#btnAgregar').on('click', function(){
      $('#modalTitle').text("Agregar una agenda médica");
      $('#txtIdAgenda_medica').val("");
      $('#txtMedico').val("");
      $('#txtEspecialidad').val("");
      $('#txtDia').val("");
      $('#txtTurno').val("");
      $('#txtSala_atencion').val("");
      $('#txtEstado_laboral').val("");
      $('#modalFormulario').modal();
    });
  }

  const guardar = () => {
    $('#btnGuardar').on('click', function() {
      const idAgenda_medica = $('#txtIdAgenda_medica').val();
      const id_medico = $('#id_medico').val();
      const id_especialidad = $('#id_especialidad').val();
      const id_dia = $('#id_dia').val();
      const id_turno = $('#id_turno').val();
      const id_sala_atencion = $('#id_sala_atencion').val();
      const id_estado_laboral = $('#id_estado_laboral').val();
      const tabla = $('#tbl').DataTable();

      if (idAgenda_medica) {
        // Update
        fetch(`/api/v1/agenda_medicas/${idAgenda_medica}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({id_medico: id_medico, id_especialidad: id_especialidad, id_turno: id_turno, id_dia: id_dia, id_sala_atencion: id_sala_atencion, id_estado_laboral: id_estado_laboral})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Actualizado", "La agenda médica ha sido actualizada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al actualizar la agenda médica.", "error");
        });
      } else {
        // Insert
        fetch(`/api/v1/agenda_medicas`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify({id_medico: id_medico, id_especialidad: id_especialidad, id_dia: id_dia, id_turno: id_turno, id_sala_atencion: id_sala_atencion, id_estado_laboral: id_estado_laboral})
        })
        .then(resp => resp.json())
        .then(data => {
          if(data && !data.error && data.success) {
            tabla.ajax.reload();
            Swal.fire("Agregado", "La agenda médica ha sido agregada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al guardar la agenda médica.", "error");
        });
      }
      $('#modalFormulario').modal("hide");
    });
  }

  const editar = () => {
    $('#tbl').on('click', 'button[name="btn_editar"]', function(){
      Swal.fire({
        title: "¿Deseas editar este registro?",
        showCancelButton: true,
        confirmButtonText: "Sí",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          $('#modalTitle').text("Editar una agenda médica");

          const idAgenda_medica = $(this).data('id');
          $('#txtIdAgenda_medica').val(idAgenda_medica);
          fetch(`/api/v1/agenda_medicas/${idAgenda_medica}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            $('#txtIdAgenda_medica').val(data.data.id_agenda_medica);
            $('#txtMedico').val(data.data.nombre+" "+data.data.apellido);
            $('#id_medico').val(data.data.id_medico);
            $('#txtEspecialidad').val(data.data.especialidad);
            $('#id_especialidad').val(data.data.id_especialidad);
            $('#txtDia').val(data.data.dia);
            $('#id_dia').val(data.data.id_dia);
            $('#txtTurno').val(data.data.turno);
            $('#id_turno').val(data.data.id_turno);
            $('#txtSala_atencion').val(data.data.sala_atencion);
            $('#id_sala_atencion').val(data.data.id_sala_atencion);
            $('#txtEstado_laboral').val(data.data.estado_laboral);
            $('#id_estado_laboral').val(data.data.id_estado_laboral);
            $('#modalFormulario').modal();
          });
        }
      });
    });
  }

  const eliminar = () => {
    $('#tbl').on('click', 'button[name="btn_eliminar"]', function(){
      const idAgenda_medica = $(this).data('id');
      Swal.fire({
        title: "¿Deseas eliminar este registro?",
        showCancelButton: true,
        confirmButtonText: "Sí",
        cancelButtonText: `No`
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/api/v1/agenda_medicas/${idAgenda_medica}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(resp => resp.json())
          .then(data => {
            if(data && !data.error && data.success) {
              const fila = $(this).closest('tr');
              const tabla = $('#tbl').DataTable();
              tabla.row(fila).remove().draw();
              Swal.fire("Eliminado", "", data.success);
            } else {
              Swal.fire(data.error);
            }
          }).catch(err => {
            Swal.fire("Error", "Ocurrió un error al eliminar la agenda médica.", "error");
          });
        }
      });
    });
  }

  const addEvents = () => {
    agregar();
    guardar();
    editar();
    eliminar();
    buscarMedico();
    buscarEspecialidad();
    buscarDia();
    buscarTurno();
    buscarSala_atencion();
    buscarEstado_laboral();
  }

  $(function() {
    initDatatable();
    initDatatablem();
    initDatatablee();
    initDatatabled();
    initDatatablet();
    initDatatables();
    initDatatablees();
    addEvents();
  }); 
</script> 
{% endblock %}